*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.social{
    height: 10vh;
    width: 100vw;
    background-color: rgb(30, 29, 29);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.social p{
    color: var(--Teritiary-Color, #D4DFFF);
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.social-icons{
    font-size: 25px;
}


@media screen and (max-width: 768px){
    .social-icons{
        font-size: 16px;
        margin: 0px 10px !important;
    }
    .social p{
        font-size: 12px;
    }
}
@media screen and (min-width: 769px){
    .social>div{
        margin: 5px 0;
    }
}

@media screen and (max-height: 625px){
    .social-icons {
        font-size: 16px;
    }
    .social>div {
        margin: 0 !important;
    }
    .social p{
        font-size: 12px;
        margin: 0.5vh;
    }
}