* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.land-top {
    width: 100vw;
    height: 55vh;
    padding-left: 9vw !important;
}
.land-top h1 {
    color: var(--Secondary-Color, #547CF5);
    font-family: Poppins;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.land-top h3{
    color: var(--Teritiary-Color, #D4DFFF);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.btn-1{
    border-radius: 46px;
    background: var(--Quaternary, #7A9AFC);
    color: var(--Primary, #13141C);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 10vw;
    height: 7vh;
    transition: all 0.4s ease-in-out;
}
.btn-1:hover{
    color: var(--Quaternary, #7A9AFC);
    background: var(--Primary, #13141C);
    border: 2px solid var(--Secondary-Color, #547CF5);
}
.land-top h5{
    color: var(--Teritiary-Color, #D4DFFF);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.btn-2{
    border-radius: 46px;
    border: 2px solid var(--Secondary-Color, #547CF5);
    color: var(--Secondary-Color, #547CF5);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 10vw;
    height: 7vh;
    transition: all 0.4s ease-in-out;
}
.btn-2 a{
    text-decoration: none;
    color: var(--Secondary-Color,#547CF5);
}
.btn-2:hover{
    background: var(--Secondary-Color, #547CF5);
    color: var(--Primary, #13141C);
}




/*  */
.land-mid{
    width: 100vw;
    height: 35vh;
    background-color: var(--Quaternary, #7A9AFC);
    padding-left: 9vw !important;
    padding-right: 7vw !important;
}
.land-mid h2{
    color: var(--Primary, #13141C);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.land-mid p{
    color: var(--Primary, #13141C);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width: 768px){
    .land-top h1{
        font-size: 55px;
        font-weight: 500;
    }
}
@media screen and (max-width: 1024px){
    .btn-1 , .btn-2 {
        width: fit-content;
        height: fit-content;
    }
}
@media screen and (max-width: 570px){
    .land-top h1{
        font-size: 50px;
    }
    .land-top h3{
        font-size: 35px;
    }
    .btn-1{
        margin: 8px 0;
    }
}

@media screen and (max-height: 625px) {
    .land-top h1{
        font-size: 50px;
    }
    .land-top h3{
        font-size: 25px;
    }
    .btn-1 , .btn-2{
        font-size: 18px;
    }
    .land-top h5{
        font-size: 22px;
    }
}