*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    --clr-primary: #12DEA1;
    --clr-primary-5:#12dea1cd;
    --clr-white:#eee;
    --clr-black: #131313;
}


.home-page{
    height: 100vh;
    color: var(--clr-white);
    display: grid;
    grid-template-columns: auto auto;
}


.home-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.macenotes{
    color: var(--clr-white);
    font-family: Michroma;
    font-size: clamp(3rem,6vw,6rem);
    font-style: normal;
    text-align:center ;
    font-weight: 400;
    line-height: normal;
}
.macenotes span{
    color: var(--clr-primary);
}



select, .search {
    width: 25vw;
    min-width: 250px;
    border: 5px solid var(--clr-primary);
    border-radius: 30px;
    background: var(--clr-black);
    color: var(--clr-white);
    text-align: center;
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;
    
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1vh 1vw;
    margin: 0.3vh 0;
}

.search {
    background: var(--clr-primary);
}

.search a{
    background-color: transparent;
    text-decoration: none;
    color: var(--clr-white);
}

option {
    font-size: 25px;
    color: var(--clr-primary);
    text-align: center;
}


.Back-btn{
    background:var(--clr-primary-5);
    border: none;
    border-radius: 1vw;
    padding: .75rem 1.5rem;
    margin: .75rem .75rem;
}

.arrow{
    color: var(--clr-white);
    font-size: 1.5rem;
}



@media screen and (max-width: 768px) {
    .home-page{
        grid-template-columns: 1fr;
    }
    .home-items{
        padding-top: 2rem;
        justify-content: center;
        align-items: center;
    }
    option {
        font-size: 20px;
        color: var(--clr-primary);
    }
}