*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.navigation{
    width: 32vw;
    height: 90vh;
    position: fixed;
    left: -30vw;
    top: 0;
    background: var(--Secondary-Color, #547CF5);
    transition: all 1s ease-in-out;
    z-index: 100;
}
.active-nav-bar{
    width: 32vw;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 0vw;
    background: var(--Secondary-Color, #547CF5);
    transition: all 1s ease-in-out;
    z-index: 100;
}
.side-ver-bar{
    height: 90vh;
    width: 2vw;
    position: absolute;
    left: 30vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-ver-bar{
    padding: 0;
    margin: 0;
    position: absolute;
    color: #13141C;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    z-index: 100;
}
.side-bar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 100;
}
ul li{
    color: var(--Primary, #13141C);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style: none;
    z-index: 100;
    width: 100%;
    height: fit-content;
}
ul li a, .active{
    color: var(--Primary, #13141C);
    text-decoration: none;
    z-index: 100;
}



@media screen and (max-width: 768px){
    .nav-ver-bar{
        font-size: 25px;
        font-weight: 400;
    }
    .navigation{
        width: 50vw !important;
        left: -47vw !important;
    }
    .active-nav-bar{
        width: 50vw !important;
    }
    .side-ver-bar{
        left: 47vw !important;
        width: 3vw !important;
    }
    ul li{
        font-size: 23px;
    }
}
@media screen and (max-width: 426px){
    ul li{
        font-size: 22px !important;
    }
    .active-nav-bar{
        width: 100vw !important;
    }
    .navigation {
        width: 100vw !important;
        left: -95vw !important;
    }
    .side-ver-bar {
        left: 95vw !important;
        width: 5vw !important;
    }
}

@media screen and (max-height: 625px){
    .navigation, .active-nav-bar{
        width: 52vw;
    }
    .navigation{
        left: -50vw;
    }
    .side-ver-bar{
        left: 50vw;
    }
    .side-bar{
        padding: 35vh 0 0 !important;
        overflow-y: auto;
    }
}