.linkContainer{
    display: flex;
    flex-direction: column;
}

.linkbox{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.link{
    background-color:#547CF5;
    gap: 1em;
    padding: 1em;
    min-width: 300px;
    text-align: center;
    border-bottom: 1px solid white;
}

.header{
 display: flex;
 justify-content: space-between;
 color: #547CF5;
 border-radius: 7px;
 border: solid 2px #547CF5;

 & h3{
    padding: 0.3em 0.5em 0em;
 }
}

.close-btn{
    padding: 0.8em;
    background: rgb(209, 64, 64);
    border-radius: 5px;
}