*{
    --clr-primary: #12DEA1;
}

.mainHeading h1{
    padding-top: 2rem;
    color : transparent;
    background: linear-gradient(to right,rgb(205, 194, 194),var(--clr-primary));
    background-clip: text;
    -webkit-background-clip: text;
    font-size: clamp(2rem,4vw,5rem);
    text-align: center;
}

.contents{
    background: #131313;
    color:#eee;
    padding: 1em;
    border-radius: 3vw;
    box-shadow: inset -4px 0px 0px var(--clr-primary);
}

.contents h6{
    font-size: clamp(
        1.1rem, 1vw , 2.5rem
    );
}

.contents ul{
    list-style: none;
    padding: 0;
}

.mods{
    padding: .5em;
    justify-content: center;
    align-items: center;
}

.arr{
    color: var(--clr-primary);
}

.mods:hover{
    background: var(--clr-primary);
}

.mods:hover .arr{
    color: #eee;
}